html body{
    background-color: black;
}
.navbar{
    background-color: darkblue;
    
}
.title{
    font-family: 'Rock Salt', cursive;
}
.main-column-left{
    display:inline-block;
    background: darkslategray;
    height: fit-content;
    margin-left:0;
    margin-right:1;
    padding:0;
}
ul{
    list-style: none;
}
.rounded-rectangle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0.5em 1em;
    border-radius: 10px 10px 10px 10px;
    
}
.section-top {
    width: fluid;
    height: 7em;
    vertical-align: top;
    background: #222831;
}

.div-button {
    padding: 0.1em 0.3em;
    cursor: pointer;
    border: 2px solid #2d4059;
    border-radius: 4px;
    background: #2d4059;
}
.small-margin-right-bottom {
    margin-bottom: 0.3em;
    margin-right: 0.3em;
}
.section-ability-scores{
    margin-top: 1px;
    width:100%;
    height:fit-content;
    background: #222831;
}
.main-column-right{
    margin-left: 0;
    margin-right: 0;
}
.char-info{
    width:100%;
    height:100%;
}
.text-input{
    cursor: pointer;
    background: #222831;
    outline-color: darkblue;
    border-color: blue;
    width:100%
}
.ul-abilities{
    padding:0;
}
.alignmentBtn{
    outline-color: #2d4059;
    width: 85%;
    text-align: right;
    text-decoration-color: white;
    background-color: #2d4059;
}
.hp{
    margin-left: 1px;
    padding-bottom: 0;
    height:fit-content;
}
.section-saves{
    margin-top: 1px;
    margin-right: 0;
    margin-left: 1px;
    width:100%;
    height:fit-content;
    background: #222831;
}
.init{
    width: 50%;
    height: 85%;
    margin-top: 1px;
    margin-bottom: 5px;
}