html body{
    background-color: black;
}
.navbar{
    background-color: darkblue;
}

.main-column-left{
    display:inline-block;
    background: darkslategray;
    height: fit-content;
    margin-left:0;
    margin-right:1;
    padding:0;
}
ul{
    list-style: none;
}
.rounded-rectangle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0.5em 1em;
    border-radius: 10px 10px 10px 10px;
    
}
.section-top {
    width: fluid;
    height: 7em;
    vertical-align: top;
    background: #222831;
}

.div-button {
    padding: 0.1em 0.3em;
    cursor: pointer;
    border: 2px solid #2d4059;
    border-radius: 4px;
    background: #2d4059;
}
.small-margin-right-bottom {
    margin-bottom: 0.3em;
    margin-right: 0.3em;
}
.section-ability-scores{
    
    width:100%;
    height:fit-content;
    background: #222831;
}
.main-column-right{
    margin-left: 0;
    margin-right: 0;
}
.char-info{
    width:100%;
    height:100%;
}
.text-input{
    background: #222831;
    outline-color: darkblue;
    border-color: blue;
}